.returns {
  color: #777;
  font-size: 11px;
  font-weight: 600;
}

.account {
  border-bottom: 1px solid #f0efef;
}

.menu {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
  list-style-type: none;
  gap: 30px;
}

.about-us .languages {
  margin-right: 20px;
}

.about-us .languages,
.about-us .currencies {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  list-style-type: none;
  gap: 40px;
  cursor: pointer;
  padding: 15px 0;
}

.about-us {
  position: relative;
  margin-left: 50px;
}

.about-us .languages:hover .languages-list,
.about-us .currencies:hover .currencies-list {
  display: block;
}

.about-us .languages-list,
.about-us .currencies-list {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  list-style-type: none;
  position: absolute;
  display: none;
  right: 226px;
  top: 42px;
  cursor: pointer;
  box-shadow: 0 0 20px lightgray;
  background-color: white;
}

.about-us .currencies-list {
  right: 163px;
}

.about-us .currencies {
  margin-right: 30px;
}

.about-us .languages-list::before,
.about-us .currencies-list::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: -8px;
  left: 36%;
  z-index: 2;
  transform: rotate(45deg);
  box-shadow: 0 0 3px lightgrey;
}

.about-us .languages-list .languages-list-item,
.about-us .currencies-list .currencies-list-item {
  transition-property: color background-color;
  transition-duration: 0.3s;
  padding: 10px 15px;
  position: relative;
  background-color: white;
  z-index: 2;
}

.about-us .languages-list .languages-list-item:hover,
.about-us .currencies-list .currencies-list-item:hover {
  color: #08c;
  background-color: #f4f4f4;
}

.about-us .social .button {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  float: left;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.about-us .social .button .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.about-us .social .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.about-us .social .button:nth-child(2):hover .icon {
  background: #1da1f2;
}

.about-us .social .button:nth-child(3):hover .icon {
  background: #e1306c;
}

.about-us .social .button .icon .social-title {
  font-size: 14px;
  line-height: 20px;
  color: #777;
  transition: all 0.3s ease-in-out;
}

.about-us .social .button:hover .icon .social-title {
  color: #fff;
}

.about-us .social .button .text {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 20px;
}

.about-us .social .button:nth-child(1):hover .text {
  color: #4267b2;
}

.about-us .social .button:nth-child(2):hover .text {
  color: #1da1f2;
}

.about-us .social .button:nth-child(3):hover .text {
  color: #e1306c;
}

.porto {
  padding: 25px;
  box-sizing: border-box;
}

.porto .fa-bars {
  font-size: 20px;
  color: #08c;
  padding-right: 10px;
  display: none;
}

.porto .search {
  width: 402px;
  padding: 13px;
  border-radius: 30px 0 0 30px;
  border: 0;
  background: #f4f4f4;
}

.porto .select-custom {
  width: 136px;
  color: #777;
  font-size: 12px;
  background: #f4f4f4;
  padding: 12px;
  padding-right: 5px;
  border: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.porto .btn-search {
  width: 50px;
  padding: 11.5px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  color: #777;
}

.porto .header-contact .img-phone {
  width: 30px;
  height: 30px;
  padding-top: 7px;
}

.porto .header-contact .call-us {
  font-size: 11px;
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
}

.porto .header-contact .number {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
}

.porto .icons .icon-contact {
  width: 25px;
  height: 25px;
  color: #777;
  margin: 12px;
  cursor: pointer;
  z-index: 2;
}

.porto .icons .shopping-angle .fa-angle-left {
  color: #777;
  margin: 12px;
  cursor: pointer;
  z-index: 2;
  display: none;
}

.porto .icons .shopping-icon {
  position: relative;
}

.porto .icons .count-circle {
  background: #ff5b5b;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  position: absolute;
  line-height: 17px;
  left: 30px;
  top: 10px;
}

.menu-activ {
  position: relative;
  border-top: 1px solid lightgray;
}

.menu-activ .menu {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-activ .menu .categories {
  padding-bottom: 20px;
}

.menu-activ .menu .categories .menu-list {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  list-style-type: none;
  position: absolute;
  display: none;
  top: 60px;
  box-shadow: 0 0 20px lightgray;
  background-color: white;
}

.menu-activ .menu .categories .menu-list::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 4%;
  z-index: 2;
  transform: rotate(45deg);
  box-shadow: 0 0 3px lightgrey;
}

.menu-activ .menu .categories:hover .menu-list {
  display: flex;
  padding: 0 12px;
}

.menu-activ .menu .categories .menu-list .img-sale {
  background-image: url(img/menu-banner.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin: 8px -4px;
}

.menu-activ .menu .categories .menu-list li {
  margin: 20px 0;
  white-space: nowrap;
  width: min-content;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.menu-activ .menu .categories .menu-list li:hover {
  border-bottom: 1px solid grey;
}

.menu-activ .menu .categories .menu-list .variation {
  font-size: 12px;
  color: black;
  font-weight: 700;
  margin-top: 15px;
}

.menu-activ .menu .categories .menu-list .img-sale .menu-banner .up-to {
  font-size: 31px;
  font-weight: 700;
  line-height: 31px;
  white-space: nowrap;
}

.menu-activ .menu .categories .menu-list .img-sale .menu-banner .procent {
  color: #f4762a;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.menu-activ .menu .categories .menu-list .img-sale .menu-banner {
  padding: 15px;
  margin-right: 50px;
}

.menu-activ .menu .categories .menu-list .img-sale .menu-banner .off {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  transform: translateY(-50%) rotate(-90deg);
  top: 153px;
}

.menu-activ .menu .categories .menu-list .img-sale .menu-banner .btn-shop {
  font-size: 11px;
  font-weight: 300;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 6px;
}

.menu-activ .menu > li {
  padding: 20px 0;
  border: 2px solid transparent;
  position: relative;
  top: -1px;
}

.menu-activ .menu > li:hover {
  border-top: 2px solid #08c;
  color: #08c;
}

.menu-activ .menu .products .menu-list {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  display: none;
  top: 60px;
  box-shadow: 0 0 20px lightgray;
  background-color: white;
}

.menu-activ .menu .products .menu-list::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 4%;
  z-index: 2;
  transform: rotate(45deg);
  box-shadow: 0 0 3px lightgrey;
}

.menu-activ .menu .products:hover .menu-list {
  display: flex;
}

.menu-activ .menu .products .menu-list .img-sale {
  background-image: url(img/menu-banner-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin: 8px 8px;
  padding: 8px 0x;
}

.menu-activ .menu .products .menu-list li {
  margin: 17px;
  white-space: nowrap;
  width: min-content;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.menu-activ .menu .products .menu-list li:hover {
  border-bottom: 1px solid grey;
}

.menu-activ .menu .products .menu-list .variation {
  font-size: 12px;
  color: black;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 0;
  margin: 15px 0 0 16px;
}

.menu-activ .menu .products .menu-list .img-sale .menu-banner .up-to {
  font-size: 31px;
  font-weight: 700;
  line-height: 31px;
  white-space: nowrap;
}

.menu-activ .menu .products .menu-list .img-sale .menu-banner .procent {
  color: #08c;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.menu-activ .menu .products .menu-list .img-sale .menu-banner {
  padding-left: 89px;
  padding-right: 10px;
}

.menu-activ .menu .products .menu-list .img-sale .menu-banner .off {
  color: white;
  font-size: 108px;
  font-weight: 800;
  position: absolute;
  transform: translateY(-50%) rotate(-90deg);
  top: 122px;
  right: 53px;
}

.menu-activ .menu .products .menu-list .img-sale .btn-shop {
  font-size: 11px;
  font-weight: 300;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 6px 25px;
}

.menu-activ .menu .products .menu-list .img-sale .btn {
  margin-top: 215px;
}

/* .menu-activ .menu .pages {
  padding-bottom: 40px;
} */

.menu-activ .menu .pages .menu-list {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  display: none;
  top: 60px;
  left: -10px;
  box-shadow: 0 0 20px lightgray;
  background-color: white;
  white-space: nowrap;
}

.menu-activ .menu .pages .menu-list .fa-angle-right {
  padding-left: 130px;
}

.menu-activ .menu .pages:hover .menu-list {
  display: flex;
}

.menu-activ .menu .pages .menu-list li {
  transition-property: color background-color;
  transition-duration: 0.3s;
  padding: 10px 15px;
  position: relative;
  background-color: white;
  z-index: 2;
  cursor: pointer;
}

.menu-activ .menu .pages .menu-list li:hover {
  background-color: #f4f4f4;
}

/* .menu-activ .menu .pages:hover .menu-list li {
  margin: 17px 0;
} */

.menu-activ .menu .pages .menu-list .blog .list {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  display: none;
  top: 0px;
  right: -91px;
  box-shadow: 0 0 20px lightgray;
  background-color: white;
}

.menu-activ .menu .pages .menu-list .blog:hover .list {
  display: flex;
}

.menu-activ .menu .elements .menu-list {
  color: #777;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  display: none;
  top: 60px;
  left: -10px;
  box-shadow: 0 0 20px lightgray;
  background-color: white;
  white-space: nowrap;
}

.menu-activ .menu .elements:hover .menu-list {
  display: flex;
}

.menu-activ .menu .elements:hover .menu-list ul {
  max-height: 410px;
  overflow-y: scroll;
  min-width: 200px;
}

/* .menu-activ .menu .elements:hover .menu-list li {
  margin: 20px;
}
 */
.menu-activ .menu .elements .menu-list li {
  transition-property: color background-color;
  transition-duration: 0.3s;
  padding: 10px 15px;
  position: relative;
  background-color: white;
  z-index: 2;
  cursor: pointer;
}

.menu-activ .menu .elements .menu-list li:hover {
  background-color: #f4f4f4;
}

.slider {
  background-image: url(img/slide-1.jpg);
}

.slider .discount .boundaries {
  color: #777;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1.52px;
  line-height: 19px;
}

.slider .discount .summer {
  color: #222529;
  font-size: 53px;
  font-weight: 700;
  line-height: 53px;
  text-transform: capitalize;
  font-family: "Segoe Script", "Savoye LET";
  margin: 0;
}

.slider .discount .procent {
  color: #222529;
  font-size: 94px;
  font-family: 700;
  line-height: 94px;
  text-transform: uppercase;
  margin: 0;
}

.slider .discount .starting-at {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222529;
  margin: 0;
}

.slider .discount .discount-number {
  background-color: #ff7272;
  width: 100px;
  height: 40px;
}

.slider .discount .discount-number .dolar {
  font-size: 14.4px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.slider .discount .discount-number .number {
  font-size: 28.8px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}

.slider .discount .sale .btn-shop-now {
  font-size: 14px;
  font-weight: 700;
  padding: 17px 40px;
  background-color: #222529;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.slider .discount .sale .btn-shop-now:hover {
  background-color: #34393f;
}

.slider .discount .sale {
  gap: 15px;
  margin-top: 25px;
}

.slider .discount {
  padding: 100px 0;
  padding-right: 500px;
}

.free-shipping {
  margin-bottom: 50px;
}

.shipping {
  padding: 25px 0;
}

.shipping .return {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.shipping .orders {
  font-size: 13px;
  font-weight: 400;
  color: #777;
}

.shipping .icon-shipping {
  width: 35px;
  height: 30px;
}

.watches {
  gap: 20px;
}

.shipping .info-box {
  border-right: 1px solid #e7e7e7;
  padding: 25px 0;
}

.watches .porto-watches {
  background-image: url(img/banner-1.jpg);
}

.watches .porto-watches .watches-title {
  padding: 33px;
}

.watches .porto-watches .porto-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  margin: 0;
}

.watches .porto-watches .twentieth {
  font-size: 20px;
  font-weight: 700;
}

.watches .porto-watches .thirtieth {
  color: #08c;
  font-size: 26px;
  font-weight: 800;
}

.watches .porto-watches .off {
  color: #08c;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.watches .porto-watches .btn-shop-now {
  background-color: #222529;
  font-size: 11px;
  font-weight: 700;
  padding: 7px 9px;
  text-transform: uppercase;
  cursor: pointer;
}

.watches .deal-promos {
  background-image: url(img/banner-2.jpg);
  border: 1em solid #08c;
}

.watches .deal-promos .promos {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}

.watches .deal-promos .starting {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
  margin: 0;
}

.watches .deal-promos .btn-shop-now {
  background-color: #222529;
  font-size: 11px;
  font-weight: 700;
  padding: 7px 9px;
  text-transform: uppercase;
  cursor: pointer;
}

.watches .hand-bags {
  background-image: url(img/banner-3.jpg);
}

.watches .hand-bags .hand-bags-title {
  padding-right: 30px;
}

.watches .hand-bags .hand-bags-title .bangs {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding-bottom: 10px;
}

.watches .hand-bags .hand-bags-title .starting-price {
  color: #ff7272;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}

.watches .hand-bags .hand-bags-title .btn-shop-now {
  background-color: #222529;
  font-size: 11px;
  font-weight: 700;
  padding: 7px 9px;
  text-transform: uppercase;
  cursor: pointer;
}

.featured-products {
  padding-top: 30px;
  margin-bottom: 60px;
}

.featured-products .featured-products-title {
  height: 1px;
  background-color: lightgray;
  position: relative;
  margin-bottom: 50px;
}

.featured-products .featured-products-title .title {
  position: absolute;
  left: 42%;
  top: -34px;
  background-color: white;
  padding: 0 20px;
}

.featured-products .products {
  gap: 30px;
}

.featured-products .products .product {
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.featured-products .products .product.hot::before {
  content: "Hot";
  padding: 5px 11px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 12px;
  background-color: #2ba968;
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 7px;
}

.featured-products .products .product .procent20::before {
  content: "-20%";
  padding: 5px 11px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 12px;
  background-color: #da5555;
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 33px;
}

.featured-products .products .product .procent30::before {
  content: "-30%";
  padding: 5px 11px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 12px;
  background-color: #da5555;
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 33px;
}

.featured-products .products .product .procent40::before {
  content: "-30%";
  padding: 5px 11px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 12px;
  background-color: #da5555;
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 33px;
}

.featured-products .products .product .procent20-2::before {
  content: "-20%";
  padding: 5px 11px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 12px;
  background-color: #da5555;
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 7px;
}

.featured-products .products .product .procent30-2::before {
  content: "-30%";
  padding: 5px 11px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  border-radius: 12px;
  background-color: #da5555;
  position: absolute;
  z-index: 2;
  left: 7px;
  top: 7px;
}

.featured-products .products .product:hover {
  box-shadow: 0 0 10px lightgray;
}

.featured-products .products .product .product-image {
  transition-property: opacity;
  transition-duration: 0.5s;
  width: 100%;
}

.featured-products .products .product .product-image.first {
  opacity: 1;
}

.featured-products .products .product .product-image.second {
  opacity: 0;
}
.featured-products .products .product:hover .product-image.first {
  opacity: 0;
}

.featured-products .products .product:hover .product-image.second {
  opacity: 1;
}

.featured-products .product .product-image.second {
  position: absolute;
  top: 0;
  left: 0;
}

.featured-products .product .category-label {
  color: gray;
  font-size: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.featured-products .product .category-label:hover {
  color: #007bff;
}

.featured-products .product .product-title {
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.featured-products .product .product-title:hover {
  color: #007bff;
}

.featured-products .product .product-rating {
  margin-bottom: 5px;
}

.featured-products .product .product-rating .fa-star {
  color: gray;
  font-size: 12px;
}

.featured-products .product .product-rating .fa-star.unselected {
  color: lightgray;
}

.featured-products .product .prices {
  gap: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.featured-products .product .prices .price {
  font-size: 14px;
  text-decoration: line-through;
  color: lightgray;
}

.featured-products .product .product-options-btn {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  font-size: 12px;
  position: relative;
  transition-property: color background-color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.featured-products .product .product-options-btn .img {
  height: 34px;
  position: absolute;
  opacity: 0;
  background-color: #f4f4f4;
  transition-property: opacity left right;
  transition-duration: 0.3s;
  cursor: pointer;
}

.featured-products .product .product-options-btn .img1 {
  top: 0;
  left: 0;
}

.featured-products .product .product-options-btn .img2 {
  top: 0;
  right: 0;
  padding: 9px 7px;
  width: 17px;
  height: 16px;
  background-color: #f4f4f4;
  color: #777;
}

.featured-products .product:hover .product-options-btn .img {
  opacity: 1;
}

.featured-products .product:hover .product-options-btn .img1 {
  left: -30px;
}

.featured-products .product:hover .product-options-btn {
  background-color: black;
  color: white;
}

.featured-products .product:hover .product-options-btn .img2 {
  right: -30px;
}

.big-sale {
  background-image: url(img/banner-4.jpg);
  margin-bottom: 30px;
}

.big-sale .btn-sale {
  padding: 10px 10px;
  background-color: #222529;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  border: 0;
}

.big-sale .all-new {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.big-sale .purchases {
  font-size: 13px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
}

.big-sale .brends {
  padding: 15px 0;
  gap: 186px;
}

.big-sale .brends .btn-view {
  font-size: 14px;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
  background-color: #f8f9fa;
  padding: 20px 40px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.big-sale .brends .btn-view:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.browese {
  padding-top: 30px;
  margin-bottom: 60px;
}

.browese .our-categories {
  height: 1px;
  background-color: lightgray;
  position: relative;
  margin-bottom: 50px;
}

.browese .our-categories .our {
  position: absolute;
  left: 38%;
  top: -34px;
  background-color: white;
  padding: 0 20px;
  text-transform: uppercase;
}

.product-category .item {
  position: relative;
}

.product-category .item .dress1 {
  position: relative;
  background: url("img/category-1.jpg") no-repeat 50% 0;
  height: 180px;
  background-size: 120%;
}

.product-category .item .watches {
  position: relative;
  background: url("img/category-2.jpg") no-repeat 50% 0;
  height: 180px;
  background-size: 120%;
}

.product-category .item .machine {
  position: relative;
  background: url("img/category-3.jpg") no-repeat 50% 0;
  height: 180px;
  background-size: 120%;
}

.product-category .item .sofa {
  position: relative;
  background: url("img/category-4.jpg") no-repeat 50% 0;
  height: 180px;
  background-size: 120%;
}

.product-category .item .headphone {
  position: relative;
  background: url("img/category-6.jpg") no-repeat 50% 0;
  height: 180px;
  background-size: 120%;
}

.product-category .item .headphone:before,
.product-category .item .sofa:before,
.product-category .item .machine::before,
.product-category .item .watches::before,
.product-category .item .dress1::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: black;
}

.product-category .item:hover .headphone::before,
.product-category .item:hover .sofa:before,
.product-category .item:hover .machine::before,
.product-category .item:hover .watches::before,
.product-category .item:hover .dress1::before {
  opacity: 0.1;
}

.product-category .item .category-content {
  background-color: white;
  bottom: 10px;
  padding: 20px 0;
}

.product-category .dress {
  color: #1d2127;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
}

.product-category .prod {
  color: #777;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.support {
  background-color: #f6f7f9;
}

.support .customer-support .item-support {
  padding: 50px;
}

.support .customer-support .item-support .fa-headset,
.support .customer-support .item-support .fa-credit-card,
.support .customer-support .item-support .fa-rotate-left {
  width: 40px;
  height: 40px;
  color: #007bff;
  border: 1px solid lightgrey;
  padding: 15px 15px;
  border-radius: 50%;
}

.support .customer-support .customer {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.support .customer-support .alone {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.support .customer-support .about-you {
  color: #7b858a;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.fashion {
  background-image: url(img/banner-5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 65px;
}

.fashion .fashion-item {
  padding: 70px;
  box-sizing: border-box;
}

.fashion .top-deals {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.fashion .view-sale {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0e0f11;
  padding: 20px 40px;
  border: 0;
  transition: all 0.3s;
}

.fashion .view-sale:hover {
  color: #fff;
  background-color: #34393f;
}

.fashion .exclusive {
  font-size: 18px;
  font-weight: 700;
  color: #222529;
  padding: 6px 7px;
  background-color: #fff;
  margin: 0;
  display: inline-block;
}

.fashion .up-to {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  left: -25px;
  top: 17px;
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0.6;
}

.fashion .dolar {
  font-size: 25px;
  font-weight: 700;
  background-color: #ff7272;
  padding: 0 8px;
  margin: 0;
}

.fashion .off-text {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.collection .latest {
  height: 1px;
  background-color: lightgray;
  position: relative;
  margin-bottom: 50px;
}

.collection .latest .latest-new {
  position: absolute;
  left: 43%;
  top: -34px;
  background-color: white;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.collection .top-new {
  position: relative;
  padding-bottom: 35px;
}

.collection .img-collection {
  width: 100%;
}

.collection .post-date {
  padding: 4px 12px;
  background-color: #222529;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
}

.collection .post-date .day {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.collection .post-date .month {
  color: white;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.6;
  text-transform: uppercase;
}

.collection .top-new .perfect-trends {
  padding: 13px;
}

.collection .top-new .top-new-collection {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
  cursor: pointer;
}

.collection .top-new .top-new-collection:hover {
  text-decoration: underline;
}

.collection .top-new .lorem {
  color: #777;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
}

.collection .top-new .comments {
  color: #999;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}

.collection .top-new .comments:hover {
  text-decoration: underline;
}

.collection .line {
  height: 1px;
  background-color: lightgray;
}

.collection .brends {
  padding: 40px;
}

.collection .line-2 {
  height: 1px;
  background-color: lightgray;
  margin-bottom: 50px;
}

.best-selling-products .best-products {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.best-selling-products .products-tehnical .img-teh {
  transition-property: opacity;
  transition-duration: 0.5s;
  width: 100%;
  cursor: pointer;
}

.best-selling-products .top-rated .products-tehnical .img-teh.first {
  opacity: 1;
}

.best-selling-products .top-rated .products-tehnical .img-teh.second {
  opacity: 0;
}

.best-selling-products .top-rated .products-tehnical:hover .img-teh.first {
  opacity: 0;
}

.best-selling-products .top-rated:hover .products-tehnical .img-teh.second {
  opacity: 1;
}

.best-selling-products .top-rated .products-tehnical .img-teh.second {
  position: absolute;
  top: 0;
  left: 0;
}

.best-selling-products .ultimate {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.best-selling-products .ultimate:hover {
  color: #08c;
}

.best-selling-products .fa-star {
  color: #777;
  margin-bottom: 5px;
  font-size: 11px;
}

.best-selling-products .cost {
  color: #222529;
  font-size: 15px;
  font-weight: 600;
}

.best-selling-products .products-tehnical .img-teh {
  width: 84px;
}

.best-selling-products .top-rated {
  margin-bottom: 10px;
}

.service-info {
  background-color: #222529;
  padding-top: 40px;
}

.service-info .service-info-title {
  padding-bottom: 40px;
  gap: 130px;
}

.service-info .info-all {
  margin-bottom: 30px;
}

.service-info .info-all .contact-info {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.service-info .info-all .address {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.service-info .info-all .street {
  font-size: 13px;
  font-weight: 400;
  color: #a8a8a8;
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.service-info .info-all .street:nth-child(5):hover,
.service-info .info-all .street:nth-child(7):hover {
  color: #007bff;
  cursor: pointer;
}

.service-info .social-bottom .button-f {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.service-info .social-bottom .button-f .icon-f {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in-out;
  line-height: 38px;
  border: 1px solid #313438;
}

.service-info .social-bottom .button-f:nth-child(1):hover .icon-f {
  background: #4267b2;
}

.service-info .social-bottom .button-f:nth-child(2):hover .icon-f {
  background: #1da1f2;
}

.service-info .social-bottom .button-f:nth-child(3):hover .icon-f {
  background: #7c4a3a;
}

.service-info .social-bottom .button-f .icon-f .social-title {
  font-size: 14px;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
}

.service-info .social-bottom .button-f:hover .icon-f .social-title {
  color: #fff;
}

.service-info .customer-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.service-info .customer-service .service-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
  transition: all 0.3s;
}

.service-info .customer-service .service-item li:hover {
  color: #007bff;
  cursor: pointer;
}

.service-info .popular-tags .tags {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.service-info .popular-tags .tags-item li {
  display: inline-block;
  font-size: 11px;
  border: 1px solid #313438;
  color: #a8a8a8;
  padding: 5px 9px;
  margin: 4px 1px;
  transition: all 0.3s;
}

.service-info .popular-tags .tags-item li:hover {
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}

.service-info .subscribe .newsletter {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.service-info .subscribe .information {
  font-size: 13px;
  font-weight: 400;
  color: #a8a8a8;
  line-height: 25px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.service-info .subscribe .form-control {
  border: 0;
  border-radius: 5rem;
  color: #777;
  background-color: #292c30;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.service-info .service-info-title .subscribe .btn-control {
  font-size: 13px;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: #0088cc;
  border: 0;
  color: white;
  transition: all 0.3s;
}

.service-info .service-info-title .subscribe .btn-control:hover {
  background-color: #00a3f5;
  color: #fff;
}

.service-info .line-bottom {
  height: 2px;
  background-color: #313438;
}

.service-info .credit-cards {
  font-size: 12px;
  font-weight: 400;
  color: #777;
  padding: 35px;
  box-sizing: border-box;
}

.service-info .credit-cards .brand {
  width: 42px;
  padding: 0 8px;
  background-size: 60% auto;
  background-color: #d6d3cc;
  background-repeat: no-repeat;
  transition: opacity 0.25s;
  filter: invert(1);
  border-radius: 4px;
}

.service-info .credit-cards .brand:hover {
  opacity: 0.7;
}
